# Python
__pycache__/
*.pyc

# Environnements virtuels
venv/
.venv/

# Données volumineuses
data/raw/
data/processed/

# Modèles entraînés
models/*.pkl
models/*.joblib

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
